@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h1>@ViewData["Title"].</h1>
<div>
    <p>
        Please check your email to reset your password. <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
    </p>
</div>