@page
@model CourseAppChallenge.Pages.Courses.CourseItems.CreateCourseItemModel

@{
    ViewData["Title"] = "CreateCourseItem";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CourseItem</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreateCourseItemViewModel.CourseItemTitle" class="control-label"></label>
                <input asp-for="CreateCourseItemViewModel.CourseItemTitle" class="form-control"/>
                <span asp-validation-for="CreateCourseItemViewModel.CourseItemTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateCourseItemViewModel.Order" class="control-label"></label>
                <input asp-for="CreateCourseItemViewModel.Order" class="form-control"/>
                <span asp-validation-for="CreateCourseItemViewModel.Order" class="text-danger"></span>
            </div>
            @{
                @if (Model.CourseId != null)
                {
                    <div class="form-group">
                        <label asp-for="CreateCourseItemViewModel.Course" class="control-label"></label>
                        <input asp-for="CreateCourseItemViewModel.Course" class="form-control" disabled/>
                        <span asp-validation-for="CreateCourseItemViewModel.Course" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="CreateCourseItemViewModel.Course" class="control-label"></label>
                        <select asp-for="CourseId" class="form-control"
                                asp-items="@Model.CourseNameSelectList">
                            <option value="">-- Select Course --</option>
                        </select>
                        <span asp-validation-for="CourseId" class="text-danger"/>
                    </div>
                }
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
    <div>
        <a asp-page="./Courses/DetailsCourse">Back to List</a>
    </div>
</div>