@page
@model CourseAppChallenge.Pages.Lectures.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Lecture</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreateLectureViewModel.LectureTitle" class="control-label"></label>
                <input asp-for="CreateLectureViewModel.LectureTitle" class="form-control"/>
                <span asp-validation-for="CreateLectureViewModel.LectureTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateLectureViewModel.Description" class="control-label"></label>
                <input asp-for="CreateLectureViewModel.Description" class="form-control"/>
                <span asp-validation-for="CreateLectureViewModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateLectureViewModel.VideoUrl" class="control-label"></label>
                <input asp-for="CreateLectureViewModel.VideoUrl" class="form-control"/>
                <span asp-validation-for="CreateLectureViewModel.VideoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateLectureViewModel.CourseItem" class="control-label"></label>
                <select asp-for="CreateLectureViewModel.CourseItemId" class="form-control"
                        asp-items="@Model.CourseItemNameSelectList">
                    <option value="">-- Select Module --</option>
                </select>
                <span asp-validation-for="CreateLectureViewModel.CourseItemId" class="text-danger"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>