@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">balta.io Challenge</h1>
    <p>CRISTIANO B. NORONHA <a href="mailto:crisnordev@gmail.com">crisnordev@gmail.com</a>.</p>
        <p>GITHUB <a href="https://github.com/crisnordev">https://github.com/crisnordev</a>.</p>
        <p>LINKEDIN <a href="https://www.linkedin.com/in/crisnordev">https://www.linkedin.com/in/crisnordev</a>.</p>
</div>
