@page
@model CourseAppChallenge.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Course App</h1>
    <hr/>
    <p>To get full access to this application you must register an account.</p>
    <br/>
    <p>CRISTIANO B. NORONHA <a href="mailto:crisnordev@gmail.com">crisnordev@gmail.com</a>.</p>
    <p>GITHUB <a href="https://github.com/crisnordev">https://github.com/crisnordev</a>.</p>
    <p>LINKEDIN <a href="https://www.linkedin.com/in/crisnordev">https://www.linkedin.com/in/crisnordev</a>.</p>
</div>