@page
@model CourseAppChallenge.Areas.Content.Pages.Courses.EditCourseModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit course</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseId"/>
            <div class="form-group">
                <label asp-for="EditCourseViewModel.CourseTitle" class="control-label"></label>
                <input asp-for="EditCourseViewModel.CourseTitle" class="form-control"/>
                <span asp-validation-for="EditCourseViewModel.CourseTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditCourseViewModel.Tag" class="control-label"></label>
                <input asp-for="EditCourseViewModel.Tag" class="form-control"/>
                <span asp-validation-for="EditCourseViewModel.Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditCourseViewModel.Summary" class="control-label"></label>
                <input asp-for="EditCourseViewModel.Summary" class="form-control"/>
                <span asp-validation-for="EditCourseViewModel.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditCourseViewModel.DurationInMinutes" class="control-label"></label>
                <input asp-for="EditCourseViewModel.DurationInMinutes" class="form-control"/>
                <span asp-validation-for="EditCourseViewModel.DurationInMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CourseId"/>
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<br/>
<b>
    <a asp-area="Content" asp-page="/Courses/IndexCourse">Back to courses</a>
</b>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}